@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=Hi+Melody&family=Quicksand:wght@300..700&display=swap');

body {
    font-family: "Gamja Flower", sans-serif;
}

p, a, marquee, canvas {
    font-size: 25px;
}

h1 {
    font-size: 50px;
}